.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 103px auto 60px 0;
} .u-section-2 {
  background-image: none;
  min-height: 1196px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1066px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 978px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1209px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1053px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 708px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }
}